#search {
    padding: 5px;
    outline: none;
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    width: 95%;
}
#search:focus {
    background-color: #FFFFFF;
    border-color: #333333;
}
